{% extends 'base.html' %}
{% load static %}


        
    {% block start %}
    <h2 class="text-center my-3 py-3">{{title}}</h2>
    {% if collaborators %}
    <h5 class="text-center my-3 py-3 text-primary"><span class="text-secondary">Collaborators : </span>{{collaborators}}</h5>
    {% endif %}

    <div class="p-1 d-flex">
        <div class="w-100">
            <iframe style="width: 100%; height: 450px;" src="{{video_link}}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active btn btn-primary mx-2" aria-current="page" href="#">Overview</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link btn btn-primary mx-2" href="#">Download</a>
                </li>
                <li>
                    <a href="{{ demo_link }}" class="btn btn-primary mx-2" target="_blank">Live</a>
                </li>
                <li>
                    <a href="{{ source_link }}" class="btn btn-primary mx-2" target="_blank">Source Code</a>
                </li>
            </ul>
            <p>{{description | safe}}</p>
        </div>
        <div class="w-75">
            <div class="container list-group" style="margin-left: 10px;">
                <!-- <img src="/media/{{image}}" class="card-img-top p-5 img-fluid img-centered img-responsive"
                    style="height:300px;width:400px">    -->
                {% for proj in all_projects %}
                <a href="{% url 'project_detail' proj.slug %}" class="list-group-item list-group-item-action">{{proj.title}}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    
    <div class="b-example-divider"></div>
    <div class="container ">
        {% if prev_slug %}
        <a href="{% url 'project_detail' prev_slug %}" class="btn btn-secondary">Previous Project</a>
        {% else %}
        <a href="" class="btn btn-secondary disabled" aria-disabled="true">Previous Project</a>
        {% endif %}

        <a href="{% url 'project_detail' next_slug %}" class="btn btn-secondary">Next Project</a>

    </div>
    <div class="b-example-divider"></div>
    <div class="container ">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">About</a></li>
            </ul>
            <p class="text-center text-muted">Copyright for Gautam singh | Allright Resive 2023</p>
        </footer>

    </div>



    {% endblock %}

