{% extends 'base.html' %}
{% load static %}


        
    {% block start %}
    <h2 class="text-center my-3 py-3">{{title}}</h2>
    {% if collaborators %}
    <h5 class="text-center my-3 py-3 text-primary"><span class="text-secondary">Collaborators : </span>{{collaborators}}</h5>
    {% endif %}

    <div class="container">
        <img src="/media/{{image}}" class="card-img-top p-5 img-fluid img-centered img-responsive"
            style="height:300px;width:400px">


        <p>{{description | safe}}</p>
        <div class="d-flex justify-content-center my-2">
            <a href="{{ demo_link }}" class="btn btn-primary mx-2" target="_blank">Live</a>
            <a href="{{ source_link }}" class="btn btn-secondary" target="_blank">Source Code</a>
        </div>
        
        <div class="d-flex justify-content-center">

            <iframe width="560" height="315" src="{{video_link}}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

    </div>
    <div class="b-example-divider"></div>
    <div class="container ">


    </div>
    <div class="b-example-divider"></div>
    <div class="container ">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-dark">About</a></li>
            </ul>
            <p class="text-center text-muted">Copyright for Gautam singh | Allright Resive 2023</p>
        </footer>

    </div>



    {% endblock %}

