<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
  </script>

$$x=\frac{-b+\sqrt{b^2-4ac}}{2a}$$
% This template is designed to offer an aesthetically pleasing resume that adheres to a formal and institutional tone, making it suitable for applications to companies and research centers requiring a high degree of professionalism. Navy blue has been chosen as the primary color to align with these objectives.
% The code is well-documented and annotated, allowing users to easily customize and modify it according to their needs. Please note that the template's content is meant to be humorous and should not be taken literally. We are grateful for your interest in using this template for your professional endeavors.
% Author: Christian Maria Giannetti

%----------------------------------------------------------------------------------------
%  Packages And Other Document Configurations
%----------------------------------------------------------------------------------------

\documentclass{resume} % Use the custom resume.cls style

% Document margins
\usepackage[left=0.45in,top=0.4in,right=0.45in,bottom=0.4in]{geometry}
\usepackage{newunicodechar}

\newunicodechar{•}{\textbullet}

% Color and hyperlink packages
\usepackage{xcolor}
\usepackage{hyperref}

% Footnote and margin adjustment packages
\usepackage{footnote}
\usepackage{changepage}
\usepackage{graphicx}
\usepackage{paralist}
% Fontawesome package for icons
\usepackage{fontawesome}
\usepackage{xcolor}
% Tabularx package for custom tables
\usepackage{tabularx}

% Define navyblue color
\definecolor{navyblue}{RGB}{0,54,123}

%----------------------------------------------------------------------------------------
%   Customizations
%----------------------------------------------------------------------------------------

% Define italicitem, bolditem, and plainitem commands
\newcommand{\italicitem}[1]{\item{\textit{#1}}}
\newcommand{\bolditem}[1]{\item{\textbf{#1}}}
\newcommand{\plainitem}[1]{\item{#1}}

% Define user-friendly link command for hyperlinks
\newcommand{\link}[2]{{\href{#1}{#2}}}

\newcommand{\entry}[2]{#1 & #2 \tabularnewline} % Defines an entry with two arguments: #1 for the first column and #2 for the second column

%----------------------------------------------------------------------------------------
%   Define envsection command for defining a new environment section
%----------------------------------------------------------------------------------------

\newenvironment{tableEnv}[2]{%
  \begin{rSection}{#1} % Begin rSection with the given name
    \begin{adjustwidth}{0.0in}{0.1in} % Set the left and right margins
      \begin{itemize}[\textbullet]
      #2
      \end{itemize}
      % \begin{inparaitem}[\textbullet]
      
      % \end{inparaitem}
    \end{adjustwidth}
  \end{rSection}%
}
% -------------------------------
%   For links
% -----------------------------

\hypersetup{
    colorlinks=true, 
    linkcolor={blue!50!black},
    citecolor={blue!50!black},
    urlcolor={blue!80!black}
}
%----------------------------------------------------------------------------------------
%   Begin document
%----------------------------------------------------------------------------------------

% Set name with navyblue color
\name{\color{navyblue} Shubham Kumar Patel}

\begin{document}

\printPersonalInfo{
  % \personalInfo{\tag{Residence}\info{Pune, Maharashtra}}
  \personalInfo{\tag{Github}\info{\url{https://github.com/shubham3246}}}
  \personalInfo{\tag{Leetcode}\info{\url{https://leetcode.com/raj_3592}}}
  \personalInfo{\tag{E-mail} \info{raj2013atel@gmail.com\;\;\;\;\;\;\;\;\;\;\;\;}
  \tag{Phone number}\info{+91 9753184654}}


}

%----------------------------------------------------------------------------------------
%   Education section
%----------------------------------------------------------------------------------------

\begin{rSection}{Education}
    
    % Bachelor's degree entry
    \begin{rSubsectionNoBullet}{\bf Bachelor of Technology}{Computer Science and Engineering}{Sagar Institute of Reaserch and Technology, Bhopal, M.P.}{June 2019 - May 2023}
    {Final CGPA: \textbf{8.43}}
    \end{rSubsectionNoBullet}
    
    % High School diploma entry
    % \begin{rSubsectionNoBullet}{\bf 12th}{ June 2018 - May 2019}{De Paul School, Singrauli, M.P.}{ Final grade: 70.83\% }\item  
    % \end{rSubsectionNoBullet}

    % \begin{rSubsectionNoBullet}{\bf 10th}{June 2016 - May 2017}{De Paul School, Singrauli, M.P.}{ Final CGPA: \textnormal{9.4}}\item
    % \end{rSubsectionNoBullet}
   
\end{rSection}

%----------------------------------------------------------------------------------------
%   Work experience section
%----------------------------------------------------------------------------------------

% \begin{rSection}{Work}

%     % First work experience entry
%     \begin{rSubsection}{Dank Memes Inc.}{September 2019 - September 2021}{Head of "Machine Learning for Absurd Stuff" Department}{Ariccia, Italy}
%         \item Developed state-of-the-art predictive models for next-generation memes.
%         \item Applied machine learning techniques to optimize unicorn-mounted laser systems.
%         \item Streamlined internal meme generation pipelines.
%     \end{rSubsection}
    
%     % Second work experience entry
%     \begin{rSubsection}{Viral News Robotics Laboratory (VNRL)}{March 2019 - July 2019}{Robotics Comedian Intern}{Fries, Virginia}
%         \item Engineered a robotic Tyrion Lannister that repeatedly asks, "Where's the wine?"
%     \end{rSubsection}
    
%     % Third work experience entry
%     \begin{rSubsection}{Library of Alexandria 2.0}{January 2017 - April 2018}{Novelist}{Cut and Shoot, Texas}
%         \item Curated the "Dumb \& Dumber Guide to Classic Literature", featuring "Fifty Smudges 
%         of Gray", "Pride and Prejudice: smart girls can always find a way to rationalize marrying for money"
%         \item Hosted a weekly meme reading club on "Breadxit": the debate over whether bread should be banned from Europe
%     \end{rSubsection}
    
% \end{rSection}



%----------------------------------------------------------------------------------------
% Technical skills section
%----------------------------------------------------------------------------------------

\tableEnv{ Technical skills}{
   
        \item{\textbf{Programming Languages/Tools:}} {C++, Python, OOPs, DSA, Basics of ML}
         \item {\textbf{Web Development:}} {Django, UI/UX, React, Javascript, MySQL, Tailwind, Bootstrap, Stripe}

        \item {\textbf{Deployment Platforms:}} {Vercel, Python anywhere, Railway}
    
    }

%----------------------------------------------------------------------------------------
% Projects
%----------------------------------------------------------------------------------------

\tableEnv{Projects}{
    \item \textbf{\underline{Online Learning Platform:}} 
    \begin{itemize}
        \item Tech stacks used: \textbf{Django, HTML, CSS, Javascript, Stripe, Bootstrap, Font Awesome.}
    \end{itemize}
\begin{itemize}
    \item Developed an online learning platform for free and paid courses.
    \item Integrated \textbf{Stripe} as the secure \textbf{payment gateway} for premium content.
    \item Managed course catalog using \textbf{Django models} for easy updates. 
\end{itemize}
\;\;\;\;\;\;\;\;\;
    \href{https://github.com/shubham3246/Learn-X}{Github Link \faExternalLink}  \;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;
    \href{http://shubham3246.pythonanywhere.com/}{Live \faExternalLink} 
    
    \item \textbf{\underline{Mail configuration app:} } 
\begin{itemize}
    \item  Tech stacks used: using \textbf{Django, HTML, CSS, JavaScript, Bootstrap}.
    \item Developed a single-page email client which enables \textbf{composing, sending,} and \textbf{managing emails}, mimicking real email client functionality.
    \item Implemented features like \textbf{inbox, sent}, and \textbf{archived} mailboxes, allowing actions on emails.
    \item Leveraged \textbf{Django's API routes} for seamless frontend-backend communication.
    \item Utilized event listeners for \textbf{dynamic user interactions} and \textbf{email status management.}
\end{itemize}
  \;\;\;\;\;\;\;\;\;
    \href{https://github.com/shubham3246/Mail}{Github Link \faExternalLink}
    \;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;
    \href{http://shubham1090.pythonanywhere.com/}{Live \faExternalLink}
    
}


%----------------------------------------------------------------------------------------
% Achievements
%----------------------------------------------------------------------------------------
% \tableEnv{Certificates}{
%     \begin{inparaitem}    \\
%     
% \end{inparaitem}
% }
\tableEnv{Achievements}{ 
    \item  \normalfont Solved 250+ problems on Leetcode 
    
    \item  \normalfont Given multiple contests on Codechef, Codeforces 
}




% %----------------------------------------------------------------------------------------
% %   Extracurricular activities section
% %----------------------------------------------------------------------------------------

% \begin{rSection}{Extracurricular activities}

% % First extracurricular entry
% \begin{rSubsectionNoBullet}{Procrastinators Anonymous: Machine Learning for Laziness}{November 2015}{Successfully delayed attending the course}{Rome, Italy}
%     \plainitem{Developed an AI that predicts the perfect moment to start binge-watching Dr. House episodes instead of working on important tasks.}
% \end{rSubsectionNoBullet}

% % Third extracurricular entry
% \begin{rSubsectionNoBullet}{Dumb Literature Club: Famous Books with Ridiculous Twists}{June 2014 - Present}{Proud Member}{Popejoy, Iowa}
%     \plainitem{Regularly participate in discussions concerning famous literature works, such as "The Great Catsby", which is basically the Great Gatsby, but with cats.}
% \end{rSubsectionNoBullet}

% \end{rSection}






%----------------------------------------------------------------------------------------
% Certificates
%----------------------------------------------------------------------------------------
\tableEnv{Certificates}{
 
    
    \begin{inparaitem}[\textbullet]  
    \item CS50's Web Development with Python and JavaScript 
   \href{https://certificates.cs50.io/bfcac0de-f9c3-414f-a780-12771b9de67d}{- link to certificate \faExternalLink} \\
    \item  \normalfont Data science course - Mastering the fundamentals(Scaler)\;\;\;\;\;\;\;\;\;\;\;\;
    \item The Complete Python course (Udemy)
    \end{inparaitem}
    
}



%----------------------------------------------------------------------------------------
% Interests
%----------------------------------------------------------------------------------------
\tableEnv{Interests}
{
\begin{inparaitem}[\textbullet]
    \item Coding \;\;\;\;\;\;\;\;\;\;\;\;
    \item Chess \;\;\;\;\;\;\;\;\;\;\;\;
    \item Rubik's cube solving \;\;\;\;\;\;\;\;\;\;\;\;
    \item Sudoku
\end{inparaitem}
\\
}



%----------------------------------------------------------------------------------------
% Language proficiencies section
%----------------------------------------------------------------------------------------

% \tableEnv{Language proficiencies}{
%     \begin{inparaitem}[\textbullet]    \item  \normalfont English: Fluent  \;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;\;
%     \item Hindi: Fluent
% \end{inparaitem}
% }




\end{document}













</body>
</html>