{% extends 'base.html' %}
{% load static %}

{% block start %}
<h2 class="text-center my-3 py-3">Notes</h2>
<div class="container px-5" style="max-width: 95vw;">
    <div class="row justify-content-center">
        {% for note in notes %}
        <div class="col-md-3 mb-4" style="max-height: 370px;">
            <div class="card mb-4 p-2 h-100 w-100">
                <div class="d-flex justify-content-center"
                    style="height: 150px; overflow: hidden; object-fit: contain;">
                    <img src="{{ note.image }}" class="card-img-top h-100 w-auto"
                        alt="{{ note.image }}">
                </div>
                <div class="container ">

                    <div class="card-body">
                        <h5 class="card-title">{{ note.title }}</h5>
                        <p class="card-text">{{ note.content|truncatechars:30}}</p>
                        <div class="d-flex justify-content-center">

                            <a href="{{note.pdf}}" class="btn btn-primary" download>D
                                ownload pdf</a>
                            <!-- <a href="https://teraboxapp.com/s/1BNmS_Q9qaESe1_oQnjSbBQ" class="btn btn-primary" download>Download pdf</a> -->
                        </div>


                    </div>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}