{% extends 'base.html' %}
{% load static %}



{% block start %}
<h2 class="text-center my-3 py-3">{{title}}</h2>
{% if collaborators %}
<h5 class="text-center my-3 py-3 text-primary"><span class="text-secondary">Collaborators : </span>{{collaborators}}
</h5>
{% endif %}

<div class="p-1 d-flex">
    <div class="w-100">
        {% if video %}
        <iframe id="project_detail_video" style="width: 100%; height: 450px;" src="{{video | safe}}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
            {% else %}
 <img src="/media/{{image}}" class="card-img-top px-5 pb-5 img-fluid img-centered img-responsive"
                    style="width:400px"> 
            {% endif %}
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active btn btn-primary mx-2" aria-current="page" href="#">Overview</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link btn btn-primary mx-2" href="#">Download</a>
            </li>
            <li>
                <a href="{{ demo_link }}" class="btn btn-primary mx-2" target="_blank">Live</a>
            </li>
            <li>
                <a href="{{ source_link }}" class="btn btn-primary mx-2" target="_blank">Source Code</a>
            </li>
        </ul>
        <p>{{description | safe}}</p>
        <div style="display: none;" id="curr_slug">{{slug}}</div>
    </div>
    <div class="w-75">
        <div class="container list-group" style="margin-left: 10px;">
           
            {% for proj in all_projects %}
            <a href="?proj={{proj.slug}}" class="list-group-item list-group-item-action side_project_links"
                id="proj{{ forloop.counter0 }}" data-slug="{{slug}}">
                {{proj.heading }}{{ forloop.counter0 }}
            </a>
            {% endfor %}

        </div>
    </div>
    
</div>


<div class="b-example-divider"></div>
<div class="container ">
    {% if prev_link %}
    <a href="{{prev_link}}" class="btn btn-secondary">Previous Project</a>
    {% else %}
    <a class="btn btn-secondary disabled" aria-disabled="true">Previous Project</a>
    {% endif %}
    {% if next_link %}
    <a href="{{next_link}}" class="btn btn-secondary">Next Project</a>
    {% else %}
    <a class="btn btn-secondary disabled" aria-disabled="true">Next Project</a>
    {% endif %}
</div>




{% endblock %}